@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h2>La vaina se llenó de odio. Por favor, intenta refrescar la página.</h2>
    </hgroup>
</body>
</html>
